/* DOM elements section */
body {
	font-family: Verdana,Tahoma,Helvetica,sans-serif;
	margin: 0px;
}

table.left th {
	text-align: left;
}


/* UI Theme overrides */
.ui-widget-content {
	background: #FFF;	
	color: #000;
	border: none;
}
.ui-widget-header {
	border: none;
}
.ui-tabs {
	padding: 0px;
}
.ui-tabs .ui-tabs-panel {
	padding: 0px;
}
.ui-widget {
	font-size: 1em;
}
.ui-dialog .ui-dialog-content {
	padding: 0px;
}
.ui-widget-overlay {
	background: #666666 url(smoothness/images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat; opacity: .50;filter:Alpha(Opacity=50);
}

.ui-dialog table {
	width: 100%;
	padding-right: 5px;
}
.ui-dialog input[type="text"] {
	width: 250px;
}

/* Custom classes */

.leftPanel {
	width: 50%;
	float: left;	
}
.rightPanel {
	width: 50%;
	float: right;	
}
.title {
	float:left;
	margin-left: 5px;
}
.titleButton {
	float:right;
	margin-top: 10px;
	margin-right: 5px;
}
.subTitleButton {
	float:right;
	margin-top: 10px;
}
.subPanelHeader {
	border-top: solid 1px #AAA;
	margin-top: 10px;
}
.panelTitle {
	padding:5px;
	margin: -1px -1px 5px -1px;
	border: none;
}
.ui-state-active, .ui-widget-content .panelTitle {
	border: none;
}

.panel {
	border:none;
/* 	border: 1px #CCC solid; */
	margin-left: 5px;
	margin-right: 5px;
}
.leftPanel .panel {
	margin-right: 0px;
}
.rightPanel .panel {
	margin-right: 5px;
	background-color: #f6f6f6;
}
.ui-dialog .panel {
	margin: 0px;
	border:none;
}
.flatPanel {
	border: 1px #CCC solid;
	padding: 5px;
}
.dras-toolbar {
	padding: 5px;
}
.clear {
	clear: both;
}
.dialogTable {
	margin: 5px;
}

.dialogTableLabel {
	min-width: 220px;
}
.tableLabel {
	vertical-align:top;
}
/* Header section */
.banner {
	border: none;
	height: 54px;
	padding: 5px;
}
.bannerImage {
	float: left;
	height: 54px;
}
.bannerTitle {
	vertical-align: middle;
	text-align: center;	
	color: #666666;
	float: left;
	margin-left: 100px;
	margin-top: 18px;
}

/* Login section */
.loginPanel {
	border: 1px #CCC solid;
	width: 500px; 
	margin: 0 auto;
	margin-top: 200px;
	padding: 5px;
	background: #FFFFFF;
}
.loginPanel .bodyPanel {
	
}
div.login table {
	margin: auto;
}

/* Tabs */
.ui-tabs .ui-tabs-nav .logout {
	float: right;
}

/* Event Section */
.mapParticipantInfo {
	width: 300px;	
}
ul.mapParticipantInfo {
	height: 200px;
	overflow: auto;
	list-style-type: none;
}
.eventMap {
	height: 600px;
}
.editEventMap {
/* 	width: 474px; */
	height: 474px;
}
.eventMemberSearch {
	width: 300px;
}

.programSelector {
	float:left;
}
.eventCreator {
	float:right;
}

/* jq validation */
label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }



/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

/** Datatable overrides */
.gradeA a {
	color: #043E00;
}
.dataTables_wrapper {
    min-height: 20px;
}

.rightPanel table {
	width: 100%;
	padding-right: 5px;
}
.rightPanel input[type="text"] {
	width: 250px;
}

button.ui-button {
	padding: .4em 1em;
}
